/* -------------------------------------------------------------------------- */
/*                                Orkestra Button                               */
/* -------------------------------------------------------------------------- */
@mixin orkestra-button-variant($color) {
  &, &.show {
    color: var(--#{$prefix}btn-orkestra-#{$color}-color);
    background-color: var(--#{$prefix}btn-orkestra-background);
    border-color: var(--#{$prefix}btn-orkestra-background);
    box-shadow: var(--#{$prefix}btn-orkestra-box-shadow);
  }

  @include hover-focus {
    color: var(--#{$prefix}btn-orkestra-#{$color}-hover-color);
    background-color: var(--#{$prefix}btn-orkestra-background);
    border-color: var(--#{$prefix}btn-orkestra-background);

    &:not(.disabled):not(:disabled) {
      color: var(--#{$prefix}btn-orkestra-#{$color}-hover-color);
      box-shadow: var(--#{$prefix}btn-orkestra-hover-box-shadow);
    }
  }
  &:active {
    box-shadow: none !important;
    color: var(--#{$prefix}btn-orkestra-#{$color}-active-color);
  }

  .btn-check:checked+&,
  :not(.btn-check)+&:active,
  &:first-child:active,
  &.active {
    color: var(--#{$prefix}btn-orkestra-#{$color}-color);
    background-color: var(--#{$prefix}btn-orkestra-#{$color}-active-background);
    border-color: var(--#{$prefix}btn-orkestra-background);
  }

  &:disabled,
  &.disabled {
    color: var(--#{$prefix}btn-disabled-color);
    background-color: var(--#{$prefix}btn-orkestra-background);
    // Remove CSS gradients if they're enabled
    background-image: if($enable-gradients, none, null);
    box-shadow: var(--#{$prefix}btn-orkestra-box-shadow) !important;
  }
}
